[submodule "libraries/utee"]
	path = libraries/utee
	url = ../utee.git
	branch = master
[submodule "libraries/strmd"]
	path = libraries/strmd
	url = ../strmd.git
	branch = master
[submodule "libraries/poly-queue"]
	path = libraries/poly-queue
	url = ../poly-queue.git
	branch = master
